.Select {
  margin: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
  height: 2.25em;
  padding: 0 1em;
  padding-right: 1.5em;
  border: 1px solid hsl(205, 10%, 78%);
  font: inherit;
  border-radius: 0;
  background-color: #f8f8f8;
  background-image:
    url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="hsl(205, 10%, 32%)" d="M7,10L12,15L17,10H7Z" /></svg>');
  background-repeat: no-repeat;
  background-position: right 0 top 50%;
  background-size: 24px 24px;
}

  .Select::-ms-expand {
    display: none;
  }

  .Select option {
    font-weight:normal;
  }

  .Select:hover {
    border-color: hsl(205, 7%, 66%);
  }

  .Select:focus {
    outline: 0;
    border-color: hsl(205, 79%, 48%);
  }